@font-face {
	font-family: 'PaletteMosaic';
	src: url('../fonts/PaletteMosaic-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'RubikDistressed';
	src: url('../fonts/RubikDistressed-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Oi';
	src: url('../fonts/oi_regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/proxima_nova_regular.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/proxima_nova_bold.otf') format('opentype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova Condensed';
	src: url('../fonts/proxima_nova_condensed_regular.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova Condensed';
	src: url('../fonts/proxima_nova_condensed_bold.otf') format('opentype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Tisa Sans Pro';
	src: url('../fonts/tisa_sans_pro_regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Tisa Sans Pro';
	src: url('../fonts/tisa_sans_pro_italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Tisa Sans Pro';
	src: url('../fonts/tisa_sans_pro_bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Tisa Sans Pro';
	src: url('../fonts/tisa_sans_pro_bold_italic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

:root {

}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	font-weight: normal;
}

body {
	font-size: 16px;
	line-height: 1.5;
	overflow-x: hidden;
}
