@font-face {
	font-family: 'PaletteMosaic'; /* above the fold */
	src: url('../fonts/PaletteMosaic-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Barriecito'; /* above the fold */
	src: url('../fonts/Barriecito-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Wellfleet'; /* headings */
	src: url('../fonts/Wellfleet-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Suse'; /* paragraphs */
	src: url('../fonts/SUSE-VariableFont_wght.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

:root {
	--color-primary: #000C24;
	--color-blue: #0358CF;
	--color-pink: #F9029C;
	--color-purple: #902EFC;
	--color-orange: #FEB101;
	--color-green: #036C5B;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	font-weight: normal;
}

body {
	font-size: 18px;
	line-height: 1.5;
	overflow-x: hidden;
	background-color: #000C24;
}
