@font-face {
	font-family: 'PaletteMosaic'; /* above the fold */
	src: url('../fonts/PaletteMosaic-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Barriecito'; /* above the fold */
	src: url('../fonts/Barriecito-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'LakkiReddy'; /* above the fold ? */
	src: url('../fonts/LakkiReddy-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Wellfleet';
	src: url('../fonts/Wellfleet-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Suse';
	src: url('../fonts/SUSE-VariableFont_wght.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

:root {

}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	font-weight: normal;
}

body {
	font-size: 16px;
	line-height: 1.5;
	overflow-x: hidden;
}
