@import './base.css';

.section-part {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: 'Wellfleet', sans-serif;
		font-size: 2.25em;
		margin-bottom: 0.5em;
		position: relative;
		color: var(--color-primary);
		user-select: none;

		&:after {
			position: absolute;
			content: '.';
			font-family: 'Wellfleet', sans-serif;
		}
	}

	&.blue-theme {
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			&:after {
				color: var(--color-blue);
			}
		}
	}

	&.pink-theme {
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			&:after {
				color: var(--color-pink);
			}
		}
	}

	&.purple-theme {
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			&:after {
				color: var(--color-purple);
			}
		}
	}

	&.orange-theme {
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			&:after {
				color: var(--color-orange);
			}
		}
	}

	&.green-theme {
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			&:after {
				color: var(--color-green);
			}
		}
	}

	p {
		font-family: 'Suse', serif;
		font-size: 1em;
		line-height: 1.5em;
		color: var(--color-primary);

		&:not(:last-child) {
			margin-bottom: 1em;
		}
	}
}